.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  position: fixed;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 999;
  padding-left: 3em;
  height: 4em;
}

.header > img {
  object-fit: contain;
  width: 150px;
}

.menu {
  display: flex;
  align-items: center;
  padding-right: 2em;
}

.menu > li {
  display: inline-block;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
}

a: hover {
  color:red;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
